*{
 box-sizing: border-box;
}
h1{
  text-align: center;
}
body{
 padding: 10px;
 margin:10px;
}
.a,.b,.c{
 float: right;
 text-align: center;
 height: 100%;
 padding: 5px;
 border-bottom: 2px solid #000000;
 border-left: 2px solid #000000;
 font-weight:bold;
 font-size:125%;
 margin:0px 0px 3px 3px;
}
.a{
 background-color:#e29d9d;
}
.b{
 background-color:#b74d4d;
}
.c{
 background-color:#e4d871;
}
@media (min-width:1200px){
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
  float:left;
  border:2px solid #000000;
  }
  .col-lg-1{
   width: 8.33%;
  }
  .col-lg-2{
   width: 16.66%;
  }
  .col-lg-3{
   width: 8.33%;
  }
  .col-lg-3{
   width: 25%;
  }
  .col-lg-4{
   width: 33%;
  }
  .col-lg-5{
   width: 41.66%;
  }
  .col-lg-6{
   width: 50%;
  }
  .col-lg-7{
   width: 58.33%;
  }
  .col-lg-8{
   width: 66.66%;
  }
  .col-lg-9{
   width: 74.99%;
  }
  .col-lg-10{
   width: 83.33%;
  }
  .col-lg-11{
   width: 91.66%;
  }
  .col-lg-12{
  width: 100%;
  }
}
@media (min-width:950px) and (max-width:1199px){
 .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
  float:left;
   border:2px solid #000000;
  }
  .col-md-1{
   width: 8.33%;
  }
  .col-md-2{
   width: 16.66%;
  }
  .col-md-3{
   width: 8.33%;
  }
  .col-md-3{
   width: 25%;
  }
  .col-md-4{
   width: 33%;
  }
  .col-md-5{
   width: 41.66%;
  }
  .col-md-6{
   width: 50%;
  }
  .col-md-7{
   width: 58.33%;
  }
  .col-md-8{
   width: 66.66%;
  }
  .col-md-9{
   width: 74.99%;
  }
  .col-md-10{
   width: 83.33%;
  }
  .col-md-11{
   width: 91.66%;
  }
  .col-md-12{
  width: 100%;
  }
}
p{
  clear: both;
  margin:7px; 
  margin-right:0px;
}
.op{
 clear:both;
}
body>div>div{
 margin: 10px;
 background: #808080;
 padding: 0px 0px 10px 0px;
 margin-left:0px;
}
.row{
 width: 100%;
}
.op{
 clear:both;
 padding:0px;
}
